*{
  box-sizing: border-box;
}
#map div{
  border: 1px solid purple;
  width: 50px;
  height: 50px;
  float: left;
}
#map{
  width: 500px;
  height: 500px;
  background-color: #421C52;
}
#map div.floor{
  background-color: #421C52;
}
#map div.wall{
  background-color: grey;
}

#map div.playerCharacter{
  border-radius: 25px;
  background-color: darkGreen;
  border: 0px;
}
#map div.guard{
  border-radius: 25px;
  background-color: #6f8c9f;
  border: 0px;
}
#map div.treasure{
  border-radius: 30px;
  background-color: gold;
  border: 0px;
}
