*{
  box-sizing: border-box;
}
#map div{
  width: 32px;
  height: 32px;
  float: left;
}
#map{
  width: 640px;
  height: 640px;
  background-color: #421C52;
}
#map div.floor{
  background-color: #421C52;
}
#map div.wall{
  background-color: grey;
}
#map div.window{
  background-color: #8B4513;
}

#map div.playerCharacter{
  border-radius: 25px;
  background-color: darkGreen;
  border: 0px;
}
#map div.guard{
  border-radius: 25px;
  background-color: #6f8c9f;
  border: 0px;
}
#map div.treasure{
  border-radius: 30px;
  background-color: gold;
  border: 0px;
}
#map div.exit{
  background-color: rgba(0,0,0,0.3);
}
