*{
  box-sizing: border-box;
  font-family: 'Press Start 2P', arial, sans-serif;
  background-color: #372344;
  color: white;
}

#map div{
  width: 32px;
  height: 32px;
  float: left;
}
#map{
  width: 640px;
  height: 640px;
  background-color: #421C52;
}
#map div.floor{
  background-color: #421C52;
}
#map div.wall{
  background-color: grey;
}
#map div.window{
  background-color: #8B4513;
}

#map div.playerCharacter{
  border-radius: 25px;
  background-color: darkGreen;
  border: 0px;
}
#map div.guard{
  border-radius: 25px;
  background-color: #6f8c9f;
  border: 0px;
}
#map div.treasure{
  border-radius: 30px;
  background-color: gold;
  border: 0px;
}
#map div.exit{
  background-color: rgba(0,0,0,0.3);
}
.introScreen{
  display: flex;
  justify-content: center;
}
.introLeft{
  width: 400px;
}
.introRight{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button{
  font-size: 20px;
  padding: 10px 30px;
}

button:hover, #submitButton:hover{
  color: #421C52;
  background-color: white;
}

.highScoreScreen{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 640px;
  margin: auto;
}
.highScoreScreen p{
    margin-left: 30px;
    text-align: left;
}

.leftHandHighScoreTable, .rightHandHighScoreTable{
  width: 320px;
  height: 400px;
  text-align: center;
}

.playScreen{
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.playScreen #treasureScore, .playScreen #livesScore, .playScreen #turnsScore{
  width: 213px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.endGameScreen{
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.endGameScreen h2, .endGameScreen p, #endScore{
  width: 640px;
}
.endGameScreen input{
  width: 320px;
}
#submitCheck, #endScore{
  margin:auto;
  font-size: 24px;
  width: 640px;
  height: 50px;
  line-height: 50px;

}

input{
  font-size: 20px;

}

#restart{
  margin: 10px;
}
